@font-face {
    font-family: 'pincoyablack';
    src: url('./styles/fonts/pincoyablack-webfont.woff2') format('woff2'),
         url('./styles/fonts/pincoyablack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.gta {
  font-family: 'pincoyablack';
}






